@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i);

$sans-serif: 'Roboto', sans-serif;

$primary-color: #333;
$border-color: #ccc;
$white-color: #fff;
$success-color: #27ae60;
$warning-color: #f39c12;
$danger-color: #e74c3c;

$primary-width: 96%;
$one-width: 4.33%;
$two-width: 12.66%;
$three-width: 21%;
$four-width: 29.33%;
$five-width: 37.66%;
$six-width: 46%;
$seven-width: 54.33%;
$eight-width: 62.66%;
$nine-width: 71%;
$ten-width: 79.33%;
$eleven-width: 87.66%;

/*Global*/
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

/*Typography*/
@mixin typography($numeral: 0) {
    margin: 5px 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-size: (1 + $numeral/8 ) * 1em;
}

* {
    font-family: $sans-serif;
    font-weight: lighter;
    line-height: 1.5;
    color: $primary-color;
}

h1 {
    @include typography(6);
}

h2 {
    @include typography(4);
}

h3 {
    @include typography(2);
}

h4 {
    @include typography(1);
}

h5 {
    @include typography();
}

h6 {
    @include typography();
}

@media screen and (min-width: 40em) {
    h1 {
        @include typography(7);
    }

    h2 {
        @include typography(5);
    }

    h3 {
        @include typography(3);
    }

    h4 {
        @include typography(2);
    }

    h5 {
        @include typography(1);
    }

    h6 {
        @include typography();
    }
}

/* Grid */
.container {
    width: $primary-width;
    position: relative;
    max-width: 10 * $primary-width;
    margin: 0 auto;

    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

.row {
    position: relative;
    width: $primary-width;

    .potato, .potatoes {
        float: left;
        margin: 8px 2%;
        min-height: 2px;
    }

    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

.potato, .potatoes {
    width: $primary-width;
    float: left;
}


@mixin width-potatoes($width){
    width: $width;
}

/* Small - Mobile */
.one-small {
    &.potato, &.potatoes {
        width: $one-width;
    }
}

.two-small.potatoes {
    width: $two-width;
}

.three-small.potatoes {
    width: $three-width;
}

.four-small.potatoes {
    width: $four-width;
}

.five-small.potatoes {
    width: $five-width;
}

.six-small.potatoes {
    width: $six-width;
}

.seven-small.potatoes {
    width: $seven-width;
}

.eight-small.potatoes {
    width: $eight-width;
}

.nine-small.potatoes {
    width: $nine-width;
}

.ten-small.potatoes {
    width: $ten-width;
}

.eleven-small.potatoes {
    width: $eleven-width;
}

.twelve-small.potatoes {
    width: $primary-width;
}

/* Medium - Tablet */
@media screen and (min-width: 40em) {
    .one-medium {
        &.potato, &.potatoes {
              width: $one-width;
        }
    }

    .two-medium.potatoes {
        width: $two-width;
    }

    .three-medium.potatoes {
        width: $three-width;
    }

    .four-medium.potatoes {
        width: $four-width;
    }

    .five-medium.potatoes {
        width: $five-width;
    }

    .six-medium.potatoes {
        width: $six-width;
    }

    .seven-medium.potatoes {
        width: $seven-width;
    }

    .eight-medium.potatoes {
        width: $eight-width;
    }

    .nine-medium.potatoes {
        width: $nine-width;
    }

    .ten-medium.potatoes {
        width: $ten-width;
    }

    .eleven-medium.potatoes {
        width: $eleven-width;
    }

    .twelve-medium.potatoes {
        width: $primary-width;
    }

}

/* large - Desktop */
@media screen and (min-width: 64em) {
    .one-large {
        &.potato, &.potatoes {
        width: $one-width;
        }
    }

    .two-large.potatoes {
        width: $two-width;
    }

    .three-large.potatoes {
        width: $three-width;
    }

    .four-large.potatoes {
        width: $four-width;
    }

    .five-large.potatoes {
        width: $five-width;
    }

    .six-large.potatoes {
        width: $six-width;
    }

    .seven-large.potatoes {
        width: $seven-width;
    }

    .eight-large.potatoes {
        width: $eight-width;
    }

    .nine-large.potatoes {
        width: $nine-width;
    }

    .ten-large.potatoes {
        width: $ten-width;
    }

    .eleven-large.potatoes {
        width: $eleven-width;
    }

    .twelve-large.potatoes {
        width: $primary-width;
    }
}

.input_text {
    background-color: $white-color;
    border: 1px solid $primary-color;
    color: $primary-color;
    border-radius: 4px;
    display: block;
    font-size: 1em;
    line-height: 1;
    height: 46px;
    margin: 0 0 20px 0;
    padding: 0 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="text"] {
    @extend .input_text;
}

input[type="password"] {
    @extend .input_text;
}

input[type="date"] {
    @extend .input_text;
}

input[type="datetime"] {
    @extend .input_text;
}

input[type="email"] {
    @extend .input_text;
}

input[type="number"] {
    @extend .input_text;
}

input[type="tel"] {
    @extend .input_text;
}

input[type="time"] {
    @extend .input_text;
}

input[type="url"] {
    @extend .input_text;
}

input[type="color"] {
    @extend .input_text;
}

select {
    @extend .input_text;
}

textarea {
    @extend .input_text;
    min-height: 150px;
    padding: 10px;
    line-height: 1.5;
}

label {
    display: block;
}

input[type="radio"] + label, input[type="checkbox"] + label  {
    display: inline-block;
}

::-webkit-input-placeholder {
   color: $primary-color;
}

:-moz-placeholder {
   color: $primary-color;
}

::-moz-placeholder {
   color: $primary-color;
}

:-ms-input-placeholder {
   color: $primary-color;
}

/* Other */
hr {
    position: relative;
    width: $primary-width;
    border: solid $border-color;
    border-width: 1px 0 0;
    clear: both;
}

/* Buttons */

@mixin button-border($border-color: $primary-color) {
    border: 1px solid $border-color;
}

@mixin button-color($background-color: $white-color, $color: $primary-color)
{
    background-color: $background-color;
    color: $color;
}

@mixin button-size($pad1, $pad2, $font)
{
    padding: $pad1 $pad2;
    font-size: $font;
}

@mixin button-config() {
    @include button-color();
    @include button-border($primary-color);
    @include button-size(14px, 20px, 1em);
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 0 20px 0;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.button {
    @include button-config();

    &:hover, &:focus {
        @include button-color($primary-color, $white-color);
    }

    &.success {
        @include button-color($white-color, $success-color);
        border: 1px solid $success-color;

        &:hover, &:focus {
            @include button-color($success-color, $white-color);
        }
    }

    &.warning {
        @include button-color($white-color, $warning-color);
        border: 1px solid $warning-color;

        &:hover, &:focus {
            @include button-color($warning-color, $white-color);
        }
    }

    &.danger {
        @include button-color($white-color, $danger-color);
        border: 1px solid $danger-color;

        &:hover, &:focus {
            @include button-color($danger-color, $white-color);
        }
    }

    &.small {
        @include button-size(10px, 16px, 0.750em);
    }

    &.large {
        @include button-size(16px, 30px, 1.5em);
    }

    &.expanded {
        display: block;
        max-width: 100%;
    }
}

/* Utilities */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.font-light {
    font-weight: lighter;
}

.font-normal {
    font-weight: normal;
}

.font-bold {
    font-weight: bold;
}

/* Unordered list markers */
.circle-potato {
    list-style-type: circle;
}

.square-potato {
    list-style-type: square;
}

.roman-potato {
    list-style-type: upper-roman;
}

.alpha-potato {
    list-style-type: lower-alpha;
}
