@charset "utf-8";
@import "normalize";
@import "streachy-potato";

// Make Flex Potato

$primary-color: #50E3C2;

body {
  border-top: 5px solid $primary-color;
}

.header {
  padding: 10px;
}

.logo {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;

  h1 {
    align-self: center;
  }
}

.menu {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 5;

  li {
    flex-grow: 2;
    list-style: none;
  }
}

.chat {
  background: url(../images/background.jpg);
  background-size: cover;
}

.message {
  align-self: flex-start;
  background: $primary-color;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 10px;

  .text {
    color: #FFF;
  }

  .button {
    border: none;
    margin: 5px 0 0 0;

    a {
      text-decoration: none;
    }
  }
}

.window {
  background: grey;
  border-radius: 10px 10px 0 0;
  padding: 5px 10px;
}

.code {
  background-color: white;
  border-radius: 0 0 10px 10px;
  margin: 0;

  pre {
    padding: 10px;
    margin: 0;
  }
}

.grid {
  padding: 10px 0;
  margin: 0 auto;
  width: 85%;

  div {
    float: left;
    margin: 0 1%;
    width: 47%;
  }
}

.content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
}

.cta {
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
  justify-content: center;
  height: 200px;
  width: 85%;

  a {
    margin: 0 25px;
  }
}

.footer {

  background: #333;

  padding: 20px 0;

  .contents {
    padding: 10px 0;
    margin: 0 auto;
    width: 85%;

    li, a {
      color: #FFF;
      list-style: none;
      text-decoration: none;
    }
  }
}
