---
title: Bottr: Docs
---
<div class="row docs">
    <%= partial "docs_menu" %>
    <div class="content">
        <h1>Installation</h1>
        It should only take three simple steps to get up and running with Bottr.

Install Node & NPM using Homebrew
```
$ brew install node
```

Install the Bottr command line tool

```
npm install -g bottr
```

Create a new project folder and initialise a new project
```
$ mkdir <YourBotName> && cd <YourBotName> && bottr init
```

Your project should have a `index.js` which declares a basic bot.

If you run `bottrstart`, open `localhost:3000` in your browser and send it something the bot should reply with a response that indicates we haven't taught it to do anything yet.

Next: [Creating Your First Bot](Creating-Your-First-Bot).
    </div>
</div>
