<footer>
    <nav class="row">
      <ul class="menu">
        <li><%= link_to 'Docs', '/docs.html' %></li>
        <li ><%= link_to 'Examples', '/examples' %></li>
        <li><a class="text-subdue" href="https://github.com/Bottr-js/Bottr">Github</a></li>
        <li><a class="github-button" href="https://github.com/bottr-js/bottr" data-icon="octicon-star" data-style="mega" data-count-href="/bottr-js/bottr/stargazers" data-count-api="/repos/bottr-js/bottr#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star bottr-js/bottr on GitHub">Star</a></li>
        <!-- <li><a href="">Screencasts</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Ecosystem</a></li>
        <li><a href="">Slack</a></li> -->
      </ul>
    </nav>
    <p class="text-center text-subdue">&copy;2016 James Campbell</p>
</footer>
</div>
</body>
</html>
