---
title: Bottr
---
<div class="chat">
<div class="wrapper row">
  <div class="content">
    <h1 class="text-white">The World's Simplest Bot Framework</h1>
    <div class="intro">
      <a class="button btn-main" href="https://bottr.co/docs.html">Get Started</a>
      <a class="button" href="https://github.com/Bottr-js/Bottr">Contribute</a>
    </div>
    <div class="message two-small">
      <div class="window">
        <img src="images/Buttons.png" width="50px"/>
      </div>
      <div class="code">
        <pre>
import Bottr;

var Bot = new Bottr.Bot()

bot.on('message_received', (message, session) => {
session.send('Hello World!')
})

bot.listen()
        </pre>
      </div>
    </div>
  </div>
</div>
</div>
<div class="grid row">
<div class="grid-item">
  <h2 class="grid-item-title">Simple</h2>
  <p>Create expresive interactive bots without dealing with the low level&nbsp;details.</p>
</div>
<div class="grid-item">
  <h2 class="grid-item-title">Event Based</h2>
  <p>Our event based system allows to easily chain and combine actions together.</p>
</div>
<div class="grid-item">
  <h2 class="grid-item-title">Flexible</h2>
  <p>Use Components from the Ecosystem to add additional capabilities to your&nbsp;bot.</p>
</div>
<div class="grid-item">
  <h2 class="grid-item-title">Familiar</h2>
  <p>Built ontop of proven technolgies Node.js, Javascript and&nbsp;Express.js</p>
</div>
</div>
<div class="cta">
<h2>What are you waiting for?</h2>
<p>Get started or start contributing today!</p>
  <a class="button btn-main reverse" href="https://bottr.co/docs.html">Get Started</a>
  <a class="button" href="https://github.com/Bottr-js/Bottr">Contribute</a>
</div>
