@charset "utf-8";
@import "normalize";
@import "streachy-potato";

// Make Flex Potato

// Settings
$primary-color: #50E3C2;
$dark-gray: #666;
$light-gray: #f5f5f5;

@mixin media($minmax, $size) {
  @media only screen and (#{$minmax}-width: $size) {
    @content;
  }
}

// Elements
body {
  border-top: 5px solid $primary-color;
}

header, .header {
  padding: 10px;
  nav {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 5;
  }
}

h1 {
  font-size: 2.75em;
  text-align: center;
  width: 100%;
}

// Components
.logo {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.menu {
  align-items: center;
  @include media(min, 550px) {
    display: flex;
  }
  // flex-wrap: wrap;
  // flex-grow: 5;

  li {
    flex-grow: 2;
    font-size: 1.25em;
    list-style: none;
    margin: .5em auto;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: $primary-color;
      font-weight: bold;
      padding: .33em .75em;
      text-decoration: none;
      &:active, &:focus {
        background-color: $light-gray;
        border-radius: 4px;
      }
    }
    @include media(min, 550px) {
      margin: 0 auto;
      a {
        padding: .5em 1.25em;
      }
    }
  }
}

ul.menu {
  padding-left: 0;
}

.chat {
  background: url(../images/background.jpg);
  background-size: cover;
  padding: 20px 0;
}

.intro {
  margin: 1em auto;
  .button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: 0s background-color, 0s color;
    &:hover {
      background-color: transparent;
      border-color: $primary-color;
      color: $primary-color;
      transition: 0s background-color, 0s color;
    }
    &:first-child {
      margin-right: .5em;
    }
    &:last-child {
      margin-left: .5em;
    }
  }
  @include media(max,400px) {
    width: 100%;
    .button {
      display: block;
      width: calc(100% - 44px);
      &:first-child {
        margin-right: 0;
        margin-bottom: 1em;
      }
      &:last-child {
        margin-left: 0;
      }
    }
  }
}

.message {
  align-self: flex-start;
  background: $primary-color;
  border-radius: 10px;
  padding: 10px;
  margin: 1em auto;//10px;
  width: calc(100% - 20px);
}

.window {
  background: grey;
  border-radius: 10px 10px 0 0;
  padding: 5px 10px;
}

.code {
  background-color: white;
  border-radius: 0 0 10px 10px;
  font-size: 2.5vw;
  margin: 0;
  @include media(min,600px) {
    font-size: 1em;
  }

  pre {
    padding: 10px;
    margin: 0;
    white-space: pre-wrap;
    width: inherit;
  }
}

.wrapper {
  align-items: center;
}

.content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
}

.docs {
    .navigation {
        flex: 3;
    }

    .content {
        flex: 9;
    }
}

.cta, .cta.row {
  align-items: center;
  background-color: $primary-color;
  padding: 10px 0;
  justify-content: center;
  padding: 2.5em 0;
  text-align: center;
  width: 100%;
  max-width: none;
  p {
    margin-top: .25em;
  }
  a.button {
    &:first-child {
      margin-right: .5em;
    }
    &:last-child {
      margin-left: .5em;
    }
  }
}

footer, .footer {
  background: #333;
  padding: 10px 0;
    .menu {
      margin: auto;
      a {
        color: #fff;
        &:active, &:focus {
          background-color: $dark-gray;
        }
      }
      li {
        list-style: none;
        text-decoration: none;
      }
    }
}

// Utility classes
.button {
  font-weight: bold;
  letter-spacing: .05em;
  margin: 0;//5px 0 0 0;
  transition: 0s background-color, 0s color;
  user-select: none;

  &.btn-main {
    background-color: $primary-color;
    color: #fff;
    border: 2px solid $primary-color;
    &:hover {
      background-color: darken($primary-color,10%);
      border-color: darken($primary-color,10%);
      color: #fff;
      transition: 0s background-color, 0s color;
    }
    &.reverse {
      background-color: #fff;
      color: $primary-color;
      border: 1px solid #fff;
      &:hover {
        background-color: $light-gray;
        border-color: $light-gray;
      }
      &+ .button {
        background-color: transparent;
        color: #fff;
        border-color: #fff;
        &:hover {
          color: $light-gray;
          border-color: currentColor;
        }
      }
    }
  }
  a {
    text-decoration: none;
  }
}

.grid {
  display: block !important;
  padding: 10px 0;
  margin: 0 auto;
  max-width: 1000px;
  @include media(min,900px) {
    display: inherit;
  }
  .grid-item {
    margin: 0 auto;//1.5em;
    width: calc(100% - 3em);
    max-width: 340px;
    @include media(min,640px) {
      float: left;
      margin: 0 1.5em;
      width: calc(50% - 3em);
    }
    @include media(min,920px) {
      width: calc(25% - 3em);
    }
    .grid-item-title {
      padding-top: 1em;
      text-align: center;
    }
    p {
      font-size: 1.125em;
      margin-top: .5em;
      text-align: center;
    }
  }
}

.row {
  padding: 1em 0;
}

.text-center {
  text-align: center;
}
.text-subdue {
  color: #aaa !important;
}
.text-white {
  color: #FFF !important;
}
