---
title: Bottr
---
<div class="container">
  <div class="header row">
    <div class="logo">
      <img src="images/logo.png" alt="Bottr" width="75px">
    </div>
    <ul class="menu">
      <li><a href="">Docs</a></li>
      <li><a href="">Screencasts</a></li>
      <li><a href="">News</a></li>
      <li><a href="">Examples</a></li>
      <li><a href="">Ecosystem</a></li>
      <li><a href="">Slack</a></li>
    </ul>
  </div>
  <div class="chat">
    <div class="content">
    <div class="message two-small">
      <div class="text">The World's Simpilest Bot Framework</div>
      <div class="button"><a href="https://bottr.co/docs/install">Get Started</a></div>
      <div class="button"><a href="https://github.com/Bottr-js/Bottr">Contribute</a></div>
    </div>
    <div class="message two-small">
      <div class="window">
        <img src="images/Buttons.png" width="50px"/>
      </div>
      <div class="code">
        <pre>
import Bottr;

var Bot = new Bottr.Bot()

bot.on('message_received', (message, session) => {

  session.send('The World's Simpilest Bot Framework', {
    buttons: [
      { title: 'Get Started', href: 'https://bottr.co/docs/install' },
      { title: 'Contribute', href: 'https://github.com/Bottr-js/Bottr' }
    ]
  })

  session.send({
    url: 'images/code.png'
  })
})

bot.listen()
        </pre>
      </div>
    </div>
    </div>
  </div>
  <div class="grid">
    <div>
      <h2>Simple</h2>
      <p>Create expresive interactive bots without dealing with the low level details.</p>
    </div>
    <div>
      <h2>Event Based</h2>
      <p>Our event based system allows to easily chain and combine actions together.</p>
    </div>
    <div>
      <h2>Flexible</h2>
      <p>Use Components from the Ecosystem to add additional capabilities to your bot.</p>
    </div>
    <div>
      <h2>Familiar</h2>
      <p>Built ontop of proven technolgies Node.js, Javascript and Express.js</p>
    </div>
  </div>
  <div class="cta row">
    <a href="https://bottr.co/docs/install">Get Started</a>
    <a href="https://github.com/Bottr-js/Bottr">Contribute</a>
  </div>
  <div class="footer row">
    <div class="contents">
      <ul>
        <li><a href="">Docs</a></li>
        <li><a href="">Screencasts</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Examples</a></li>
        <li><a href="">Ecosystem</a></li>
        <li><a href="">Slack</a></li>
        <li>Copyright James Campbell 2016</li>
      </ul>
    </div>
  </div>
</div>
